{{> header}}

<!--coge el titulo que hemos metido en el modelo (en el controller)-->
<h1>{{title}}</h1>

<div class="articles">
    <!--si existe banner... No es un for, pq banner.title es un objeto, no una lista-->
    {{#banner.title}}
        <section>
            <header class="banner">
                <h2 class="banner-title">{{banner.title}}</h2>
            </header>
            <div class="banner-content">
                {{banner.content}}
            </div>
        </section>
    {{/banner.title}}

    <!--un for de articles, porque articles ya es un objeto de tipo lista-->
    {{#articles}}
        <section>
            <header class="article-header">
                <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
                <div class="article-meta">By  <strong>{{author.firstname}}</strong>, on <strong>{{addedAt}}</strong></div>
            </header>
            <div class="article-description">
                {{headline}}
            </div>
        </section>
    {{/articles}}
</div>

<!--esto es un include-->
{{> footer}}